  <div>
    <div id="logo">

    </div>
    <div id="header" >
      <ul>
        <li *ngFor="let x of headertitie">{{x}}</li>
      </ul>
      </div>
    <div id="Header-Image">
      <h1 style="text-align: center;">Dedalus</h1>
    </div>
    <div id="image-area" >
      <app-header >
        
      </app-header>
    </div>
    <div>
      <app-box/>
    </div>
    <div>
      <app-maincomponent/>
    </div>
    <div>
      <app-gallery  ></app-gallery>
    </div>
    <div>
      <app-footer/>
    </div>
  </div>